extends layout

block content
 
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/i11.jpg"  width="1500" height="700">
      </div>
      <div class="carousel-item">
        <img src="images/i40.jpg"  width="1500" height="700">
      </div>
      <div class="carousel-item">
        <img src="images/i30.jpg"  width="1500" height="700">
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <br/>
  <br/>
  <br/>

    <section class="my-3">
      <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <img src="images/i39.jpeg" alt="Trulli" width="500" height="300" >
      </div>

      <div class="col-lg-6 col-md-6 col-12">
        <h2 class="display-4"> Showroom Overview </h2>
        <p class="py-4"> CSMS, main branch was established in January 2002. It is located at Defence Road off Raiwind Road Lahore. The branch is at 25 minutes drive from the main city. This showroom provides all the luxurious cars that one desires. We guarantee our customers to provide the best quality cars. It has expanded its business in various different cities around the world.
            </p>     
      </div>
      </div>
    </div>
  </section>

  <br/>
  <br/>
  <br/>

    <footer>
      <p class="p-3 bg-dark text-white text-center">@carshowroom</p>
    </footer>
        
