extends ../layout

block content
   
      <section class="my-5">
      <div class="py-3">
      <h2 class ="text-center">About Us</h2>
       </div>

      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                 <img src="images/i25.jpg" alt="Trulli" width="600" height="350">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                  <h2 class="display-4"> Showroom Overview </h2>
                  <p class="py-3"> CSMS, main branch was established in January 2002. It is located at Defence Road off Raiwind Road Lahore. The branch is at 25 minutes drive from the main city. This showroom provides all the luxurious cars that one desires. We guarantee our customers to provide the best quality cars. It has expanded its business in various different cities around the world.
                  <br/>
                  <h3>Branches</h3>
                  <br/>- Lahore (Main Branch)
                  <br/>- Islamabad                      
                  <br/>- Riyadh
                  <br/>- Dubai        
                  <br/>- Tokyo
                  <br/>- Istanbul
                  <br/>- Shanghai
                  </p>

                  </div>
                  </div>
                  </div>   
                  </section>
                  
                   <footer>
                       <p class="p-3 bg-dark text-white text-center">@carshowroommanagsystem</p>
                   </footer>
    
      
