extends ../layout

block content

    <section class="my-5">
       <div class="container-fluid">
          <div class="row">
             <div class="col-lg-6 col-md-6 col-12">
                 <img src="images/i4.jpg" alt="Smiley face" width="550" height="350" > 
             </div>
              <div class="col-lg-6 col-md-6 col-12" >
                <h2 class="display-4"> Reach Us at </h2>
                <p class="py-0"> 1.5 KM Defence Road, Off Raiwind Road, </p>
                <p class="py-0"> Lahore Pakistan </p>

                 <h2 class="display-4"> Contact Us </h2>
                 <p class="py-0"> E-Mail: pro@cuilahore.edu.pk </p>
                 <p class="py-0"> Tel UAN: +92 (42) 111-001-007 , </p>
                 <p class="py-0"> Tel: +92 (42) 99203104, 99203105, 99203106 </p>
                 <p class="py-0"> FAX: +92 (42) 99203100 </p>
              </div>  
              </div>
       </div>
    </section>

    <footer>
      <p class="p-3 bg-dark text-white text-center">@carshowroommanagsystem</p>
    </footer>