extends ../layout

block content
    h1 SignUp
    form(action="/signup",method="post")
        .form-group
            label(for="name") Username
            input#name(type="text", class="form-control", name="username")
        .form-group
            label(for="contact") Email
            input#contact(type="text", class="form-control", name="email")
        .form-group
            label(for="city") Password
            input#city(type="text", class="form-control", name="password")
        input(type="submit", class="btn btn-success")

        <br/>
        <br/>
        <br/>
        
        <footer>
         <p class="p-3 bg-dark text-white text-center">@carshowroommanagsystem</p>
        </footer>