extends ../layout

block content
    h1 Edit Record
    form(action="/products/edit/"+product._id,method="post")
        .form-group
            label(for="name") CustomerName
            input#name(type="text", class="form-control", name="name",value=product.name)
        .form-group
            label(for="contact") Contact
            input#contact(type="text", class="form-control", name="contact",value=product.contact)
        .form-group
            label(for="city") City
            input#city(type="text", class="form-control", name="city",value=product.city)
        input(type="submit", class="btn btn-success")

        <br/>
        <br/>
        <br/>
        
        <footer>
         <p class="p-3 bg-dark text-white text-center">@carshowroommanagsystem</p>
        </footer>
        